 
 html, input[type='text'], select {
  font-family: 'MS PGothic', 'PGothic';
  font-size: 16px;
}

button {
	background-color: rgb(24,24,24);
	width: calc(100% - 24px);
	border: 12px transparent;
	color: white;
	margin: 12px;
	padding: 12px;
}

button:hover {
	background-color: rgb(32,32,32);
}

button:active {
	background-color: rgb(8,8,8);
}

#chatbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 617px;
}

#messages {
  width: 284px;
  height: 100%;
  overflow-y: auto;
}

#messages::-webkit-scrollbar {
  width: 18px;
}

#chatInputContainer {
  width: auto;
  height: 48px;
  margin-top: 1px;
}

#enterNameContainer {
  margin-top: 12px;
  width: auto;
  height: auto;
}

#enterNameForm {
  margin-top: 8px;
}

#enterNameInstruction span {
  color: white;
  letter-spacing: -0.675px;
}

#nameInput, #tripInput, #chatInput, #messages {
  width: calc(100% - 28px);
}

.instruction {
  text-align: center;
}

.messageContainer {
  word-wrap: break-word;
}

label {
  font-weight: bold;
}

table {
  width: 1000px;
  margin: 0 auto;
  height: 623px;
}

input[type='text'], select {
  position: relative;
}

 
 #messages, #chatInputContainer, #enterChatContainer {
      border: 8px solid transparent;
    }

    #messages::-webkit-scrollbar-track {
      border: 2px solid;
	  border-color: rgb(24,24,24);
      background-color: rgb(0, 0, 0);
    }

    #messages::-webkit-scrollbar-thumb {
      border: 8px solid transparent;
      background-color: rgb(32,32,32);
    }
  
    #enterNameInstruction, .instruction, .message, label {
      -webkit-background-clip: text;
      background-clip: text;
    }
  
    .MessageContainer {
      border: 2px solid;
	  border-color: rgb(24,24,24);
	  padding: 4px;
	  padding-top: 0px;
	  margin-bottom: 4px;
	  vertical-align: center;
    }

	.InfoContainer {
      border-bottom: 4px solid transparent;
	}

	.InfoTextContainer {
		color: teal;
		display: inline-block;
	}

	.InfoSourceContainer {
		display: inline-block;
	}
/*
	.InfoSourceContainer {
	}

	.MessageProfileContainer {

	}
*/
	.MessageProfileContainer {
		background-color: rgb(16,16,16);
		display: inline-block;
	}

	.MessageProfileNameContainer {
		color: rgb(240, 128, 128);
		display: inline-block;
		margin-right: 8px;
	}

	.MessageProfileTripContainer {
		color: darkgreen;
		display: inline-block;
	}

	.MessageProfileSourceContainer {
		padding: 3px;
		margin-right: 4px;
		display: inline-block;
		height: 100%;
		background-color:rgb(24,24,24);
	}

#messages {
	background-color: rgb(8,8,8);
	margin-left: 6px;
}

